

body{
    background-color:rgb(247, 247, 247);
}

.box{
    background-color: rgba(51,51,51,1);
    position: fixed;
    overflow: auto;
    color: white;   
    width: 240px;
    height: 100%;
    
    
}
.user{
    padding-top: 20px;
    text-align: center;
    border-bottom: 1px solid white;
    
}
.card-img{
    float: left;
    border-radius: 50%;
    background: white;
    width: 50px;
    height: 50px;
    margin: 0 0 0 20px;
   
}
.topic{
    list-style-type: none;
    margin: 0%;
    padding: 0 10%;

}
.topic li{
   
    display: block;
    font-size: 14px;
    padding: 3% 0;
    margin: 8px 0 8px 0;
    border-bottom: 1px solid white;
}
.topic  :hover{
    color: rgb(126, 116, 116);
    
}

.about{
    color: lightgray;
    position: fixed;
    bottom: 0%;
    margin: 40px;;
    
}